.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header-item {
  display: inline-block;
  transform: translate(-2vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 1px #eee8d5;
  width: 100%;
}

.App-rest {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
